<!-- Copy default.njk code but make sure that navbar links direct back to homepage titles -->

{% extends "default.njk" %}
{# This inherits the default.njk template to use html head and body #}

{% block navLinks %}
    <a class="nav-link" href="/#about-me">About Me</a>
    <a class="nav-link" href="/#my-projects">Work</a>
    <a class="nav-link" href="/#get-in-touch">Get in touch</a>
{% endblock %}

{# This works!!! It does what I want it to do. Transfer to work subpages and make sure template inheritance is all dandy #}