# Node modules
/node_modules/

# Notes to self
/z-notes-to-self.md

# Output
/_site/

# VSCode Settings
/.vscode/

# Note - to add tracked files to .gitignore, first type the command "git rm -r --cached [file/folder path from root]"