body {
  margin: 0;
}

section {
  scroll-margin-top: 60px;
}

.navbar-custom {
  min-height: 60px;
  padding: 10px 0;
}
.navbar-custom .header-logo {
  height: 30px;
}

.homepage-main-section {
  margin: 20px;
}

#about-me {
  background-color: #539e8a;
  height: calc(100vh - 60px);
}
#about-me .row-about {
  align-items: center;
  justify-content: space-around;
  color: #f4c4bd;
}
#about-me .txt-container {
  display: flex;
  flex-direction: column;
}
#about-me .img-container {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
#about-me .img-container .rob-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.card {
  height: 100%;
}
.card .card-img-fit {
  aspect-ratio: 5/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.card .card-body {
  display: flex;
  flex-direction: column;
}
.card .card-body .custom-btn {
  margin-top: auto;
  background-color: #f4c4bd;
  color: black;
  border: 0px;
}

.footer-container {
  padding: 20px;
  background-color: #f8f9fa;
}
.footer-container hr {
  width: 60px;
  background-color: #dbd0fb;
  height: 5px;
}

.subpages-main {
  margin: 20px;
}
.subpages-main .work-title-container {
  margin-bottom: 20px;
}
.subpages-main .work-title-container .custom-btn {
  margin-top: auto;
  background-color: #f4c4bd;
  color: black;
  border: 0px;
}
.subpages-main .work-img-container {
  height: 500px;
  position: relative;
}
.subpages-main .work-img-container .gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to top, black, transparent 40%);
}
.subpages-main .work-img-container #booki-desktop-img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}
.subpages-main #booki-desktop-img {
  position: relative;
  display: inline-block;
  z-index: -10;
}