body {
  margin: 0px;
  height: 100%;
  font-family: "Source Sans 3", sans-serif;
  background-color: rgb(242, 242, 242);
}

.custom-btn {
  margin-top: auto;
  background-color: #539e8a;
  color: #fae2de;
  border: 0px;
  border-radius: 50px;
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.7019607843);
  transition: 0.3s;
}
.custom-btn:hover {
  background-color: rgba(83, 158, 138, 0.8588235294);
  transform: scale(0.98);
  box-shadow: 0px 5px 5px 0 rgba(156, 156, 156, 0.7019607843);
}
.custom-btn:active {
  background-color: #f6c5be !important;
  transform: scale(0.96);
  transition: 0.1s;
  box-shadow: 0px 3px 3px 0 rgba(125, 125, 125, 0.7019607843);
}

#form-submit-btn {
  margin-top: 1rem;
}

footer {
  padding: 20px;
  background-color: #539e8a;
  color: #fae2de;
}
footer hr {
  width: 60px;
  background-color: #f6c5be;
  height: 5px;
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}
section {
  scroll-margin-top: 80px;
}

.navbar-custom {
  padding: 10px 0;
  background-color: #539e8a !important;
}
.navbar-custom .nav-link {
  color: #fae2de;
}
.navbar-custom .header-logo {
  height: 30px;
}

.homepage-main-section {
  margin: 20px;
}

#about-me {
  background-color: #539e8a;
  height: calc(100vh - 60px);
}
#about-me .row-about {
  align-items: center;
  justify-content: space-around;
  color: #fae2de;
}
#about-me .row-about p {
  font-size: 20px;
}
#about-me .txt-container {
  display: flex;
  flex-direction: column;
}
#about-me .img-container {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
#about-me .img-container .rob-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#about-me .arrow-container {
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  font-size: 30px;
}

.card-container {
  justify-content: space-evenly;
}
.card-container .card {
  height: 100%;
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.7019607843);
  transition: 0.3s;
  border-radius: 20px;
}
.card-container .card .card-img-fit {
  aspect-ratio: 5/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-container .card .card-body {
  display: flex;
  flex-direction: column;
}
.card-container .card:hover {
  transform: scale(0.98);
  box-shadow: 0px 5px 5px 0 rgba(156, 156, 156, 0.7019607843);
}

.scroller {
  display: flex;
  height: 100%;
}
.scroller .scroller-inner {
  display: flex;
  gap: 20px;
}
.scroller .scroller-inner img {
  width: 250px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated=true] .scroller-inner {
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

.form-card {
  padding: 20px;
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.7019607843);
  transition: 0.3s;
  border-radius: 20px;
  background-color: white;
  margin: 20px auto;
}
.form-card .message-input-box {
  height: 150px;
}

.subpages-main {
  margin: 20px;
}
.subpages-main .work-title-container {
  margin-bottom: 20px;
}
.subpages-main .carousel-container .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, transparent 40%);
}
.subpages-main .carousel-container .carousel-item {
  height: 500px;
  width: 100%;
}
.subpages-main .carousel-container .c-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.subpages-main .work-img-container .gradient {
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.708), transparent 30%);
}