---
layout: base.njk
pageTitle: Home
---

<!-- About Me / Hero -->

<section class="about container-fluid" id="about-me">

  <div class="row row-about h-100">

    <div class="col-12 col-md-6 txt-container">
      <h2 class="section-headings">Hi, I'm Rob</h2>
      <p>I'm a self-motivated junior software developer looking to begin a career in the industry. I started out primarily focusing on front-end and I am now learning the basics of back-end to enable me to become a full-stack software developer. Please feel free to browse my recent projects below!</p>
    </div>

    <div class="col-12 col-md-6 img-container">
      <img class="img-fluid rob-photo" src="assets/me/rob-cropped.jpg" alt="A photo of Rob">
    </div>

    <div class="col-12 arrow-container"><i class="fa-solid fa-angle-down"></i></div>

  </div>

</section>

<!-- Projects -->

<section class="projects homepage-main-section" id="my-projects">

  <h2 class="section-headings">Work</h2>

  <div class="card-container row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">

    <div class="col">
      <div class="card border-0">
        <img src="./assets/pint/B870F3D1-79B0-4696-BF7E-410C1FB6B03D.png" class="card-img-top card-img-fit" alt="PINT Logo">
        <div class="card-body">
          <h5 class="card-title">People In Need Today</h5>
          <p class="card-text">My first real-world project. I created a simple holding page with links to socials, a donation page and contact details. We are currently in the process of building the full website.</p>
            <a href="work-pint" class="btn btn-primary custom-btn">More info</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-0">
        <img src="./assets/booki/Booki@3x.png" class="card-img-top card-img-fit" alt="Booki Logo">
        <div class="card-body">
          <h5 class="card-title">Booki</h5>
          <p class="card-text">My first project created in a HTML and CSS bootcamp. I built a homepage based on mockups using basic HTML and CSS.</p>
          <a href="work-booki" class="btn btn-primary custom-btn">More info</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-0">
        <img src="./assets/ohmyfood/ohmyfood.png" class="card-img-top card-img-fit card-img" alt="Ohmyfood Logo">
        <div class="card-body">
          <h5 class="card-title">Ohmyfood</h5>
          <p class="card-text">My second project created in a HTML and CSS bootcamp. This projected included multiple pages, basic animations and an introduction to SASS.</p>
          <a href="work-ohmyfood" class="btn btn-primary custom-btn">More info</a>
        </div>
      </div>
    </div>

    {# <div class="col">
      <div class="card border-0">
        <img src="https://images.unsplash.com/photo-1636969423277-8757e3f2cf99?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D" class="card-img-top card-img-fit" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis. Voluptas nostrum sed illum at obcaecati doloremque pariatur numquam dolore, debitis quibusdam fuga tempora distinctio cum maiores. Omnis, maxime voluptatibus.</p>
          <a href="#" class="btn btn-primary custom-btn">More info</a>
        </div>
      </div>
    </div> #}

  </div>

</section>

<section class="homepage-main-section row" id="get-in-touch">
  <!-- Style as card with drop shadow? -->
  <h2 class="section-headings">Get in touch</h2>

  <form class="form-card col-md-6 col-lg-5" name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" onSubmit="submit">

    <input class="d-none" name="bot-field">

    <div class="form-floating col-md-4 mt-3 form-name w-100">
      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
      <label for="name">Your Name</label>
    </div>

    <div class="form-floating col-md-4 mt-3 w-100">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="email">Email Address</label>
    </div>

    <div class="form-floating col-md-4 mt-3 w-100">
      <textarea name="message" class="form-control message-input-box" placeholder="Leave a comment here" id="floatingTextArea"></textarea>
      <label for="message">Say Hello!</label>
    </div>
    
    <button class="form_submit btn btn-primary custom-btn col-12 col-md-1 mt-3 w-100" id="form-submit-btn" type="submit">
      <span>Send</span>
    </button>

  </form>
</section>

<script>
    //get default border colours (to use on input when validation passes)
    var borderStylePass = document.querySelector('#name').style.border;
    //set fail border colours (to use on input when validation fails)
    var borderStyleFail = '1px solid red';
    //get the form submit button
    var submit_button = document.querySelector('.form_submit');
    //attach form event listener
    submit_button.addEventListener("click", function(event){
        //get the form "name" element
        var name = document.querySelector('#name');
        //get the form "email" element
        var email = document.querySelector('#email');

        //get the form "floatingTextArea" element
        var message = document.querySelector('#floatingTextArea');

        //all validation is assumed to be passed until tested
        blnValidated = true;
        //change the border as it the validation passed
        name.style.border = borderStylePass;
        //if validation fails change the bln to false and change the input border colour
        if(!name.value){
            blnValidated = false;
            name.style.border = borderStyleFail;
        }
        //if validation fails change the bln to false and change the input border colour
        email.style.border = borderStylePass;
        if(!email.value){
            blnValidated = false;
            email.style.border = borderStyleFail;
        }

        message.style.border = borderStylePass;
        if(!message.value){
            blnValidated = false;
            message.style.border = borderStyleFail;
        }
        //if validation failed do not allow the form to submit the data
        if(!blnValidated){
            event.preventDefault();
        }
    }, false);
</script>
