---
layout: "default.njk"
pageTitle: Home
---

  <!-- About Me -->

  <section class="about container-fluid" id="about-me">

    <div class="row row-about h-100">

      <div class="col-12 col-md-6 txt-container">
        <h2 class="section-headings">Hi, I'm Rob</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, optio fuga nostrum necessitatibus unde aliquid error omnis! Aspernatur inventore ratione, asperiores at obcaecati, fuga a porro beatae animi, commodi iure.</p>
      </div>

      <div class="col-12 col-md-6 img-container">
        <img class="img-fluid rob-photo" src="../assets/me/rob.jpg" alt="A photo of Rob">
      </div>

    </div>

  </section>

  <!-- Hero -->

  <!-- <section id="hero">

    <div id="carouselExampleAutoplaying" class="carousel slide carousel-container" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="gradient"></div>
          <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 c-img img-fluid" alt="Example Image">
          <div class="carousel-caption d-none d-md-block">
            <h5>lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="gradient"></div>
          <img src="https://images.unsplash.com/photo-1700730025710-58ff304c1c8b?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 c-img" alt="Placeholder">
          <div class="carousel-caption d-none d-md-block">
            <h5>lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="gradient"></div>
          <img src="https://images.unsplash.com/photo-1636969423277-8757e3f2cf99?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D" class="d-block w-100 c-img" alt="Placeholder">
          <div class="carousel-caption d-none d-md-block">
            <h5>lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section> -->

  <!-- Projects -->

  <section class="projects" id="my-projects">

    <h2 class="section-headings">Work</h2>

    <div class="card-container row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">

      <div class="col">
        <div class="card">
          <img src="./assets/pint/B870F3D1-79B0-4696-BF7E-410C1FB6B03D.png" class="card-img-top card-img-fit" alt="PINT Logo">
          <div class="card-body">
            <h5 class="card-title">People In Need Today</h5>
            <p class="card-text">My first real-world project. I created a simple holding page with links to socials, a donation page and contact details. We are currently in the process of building the full website.</p>
              <a href="work-pint" class="btn btn-primary card-btn">More info</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="./assets/booki/Booki@3x.png" class="card-img-top card-img-fit" alt="Booki Logo">
          <div class="card-body">
            <h5 class="card-title">Booki</h5>
            <p class="card-text">My first project created in a HTML and CSS bootcamp. I built a homepage based on mockups using basic HTML and CSS.</p>
            <a href="work-booki" class="btn btn-primary card-btn">More info</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="./assets/ohmyfood/ohmyfood.png" class="card-img-top card-img-fit card-img" alt="Ohmyfood Logo">
          <div class="card-body">
            <h5 class="card-title">Ohmyfood</h5>
            <p class="card-text">My second project created in a HTML and CSS bootcamp. This projected included multiple pages, basic animations and the used of SASS.</p>
            <a href="work-ohmyfood" class="btn btn-primary card-btn">More info</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1636969423277-8757e3f2cf99?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D" class="card-img-top card-img-fit" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis. Voluptas nostrum sed illum at obcaecati doloremque pariatur numquam dolore, debitis quibusdam fuga tempora distinctio cum maiores. Omnis, maxime voluptatibus.</p>
            <a href="#" class="btn btn-primary card-btn">More info</a>
          </div>
        </div>
      </div>

    </div>
  </section>