// VARIABLES

$section-margin: 20px;
$footer-padding: 20px;
$card-height: 100%;
$navbar-height: 60px;
$header-footer-color: #f8f9fa;

$primary-color: #539e8a;
$secondary-color: #f6c5be;
$dark-bg-text-color: #fae2de;

// END VARIABLES


// MIXINS

@mixin button-styling {
    margin-top: auto;
    // background-color: #dbd0fb;
    // background-color: $secondary-color;
    background-color: $primary-color;
    color: $dark-bg-text-color;
    border: 0px;
}


// RESETS

body {
    margin: 0;
    // padding-top: $navbar-height; // removed after changing nav to sticky from fixed
}

// END RESETS


// UNIVERSAL BEHAVIOUR

section {
    scroll-margin-top: $navbar-height; // Pads the anchor to sections down to compensate for fixed navbar
}

// END UNIVERSAL BEHAVIOUR


// GENERAL SASS

// Homepage

.navbar-custom {
    min-height: $navbar-height;
    padding: 10px 0; // content in nav moves up slightly when expanding dropdown on mobile view. this does not happen when min-height is not set or nav padding overridden
    .header-logo {
        height: 30px;
    }
}

.homepage-main-section {
    margin: $section-margin;
}

#about-me {
    .row-about {
        align-items: center;
        justify-content: space-around;
        color: $dark-bg-text-color;
        // color: $secondary-color;
        // adjust font sizing
    }
    // background-color: #dbd0fb;
    background-color: $primary-color;

    height: calc(100vh - $navbar-height);
    .txt-container {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        display: flex;
        justify-content: center;
        width: fit-content;
        .rob-photo {
            object-fit: cover;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
}

// .carousel-container {
//     .gradient {
//         position:absolute;
//         height: 100%;
//         width: 100%;
//         background-image: linear-gradient(to top, black, transparent 40%);
//     }
//     .carousel-item {
//         height: 500px;
//         width: 100%;
//     }
//     .c-img {
//         object-fit: cover;
//         height: 100%;
//         width: 100%;
//     }
// }

.card {
    height: $card-height; // seems to mess up vertical spacing
    .card-img-fit {
        aspect-ratio: 5 / 3;
        object-fit: contain;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .custom-btn {
            @include button-styling();
        }
    }
}

.footer-container {
    padding: $footer-padding;
    background-color: #f8f9fa;
    hr {
        width: 60px;
        background-color: #dbd0fb;
        height: 5px;
    }
}

// End homepage


// Subpages


.subpages-main {
    margin: $section-margin;
    .work-title-container {
        margin-bottom: $section-margin;
        .custom-btn {
            @include button-styling();
        }
    }


    .work-img-container {
        // width:100%;
        height: 500px;
        position: relative;

        .gradient {
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: linear-gradient(to top, black, transparent 40%);
        }

        #booki-desktop-img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 0;
        }
    }

    // .gradient {
    // position: absolute;
    // background-image: linear-gradient(to top, black, transparent 40%);
    // z-index: 100;
    // }

    #booki-desktop-img {
        // height: 50%;
        // object-fit: cover;
        // object-position: 50% 0;
        position: relative;
        display: inline-block;
        z-index: -10;
    }
}

