// VARIABLES

$section-margin: 20px;
$footer-padding: 20px;
$card-height: 100%;
$navbar-height: 50px;
$header-footer-color: #f8f9fa;

// RESETS

// * {
//     box-sizing: border-box;
// }

// Bootstrap is border box by default

body {
    margin: 0;
    padding-top: $navbar-height;
}

// END RESETS



// UNIVERSAL BEHAVIOUR

section {
    scroll-margin-top: $navbar-height; // Pads the anchor to sections down to compensate for fixed navbar
    //     .section-headings {
    //     margin: 20px;
    // }
}

// END UNIVERSAL BEHAVIOUR

// .navbar-custom {
//     height: $navbar-height;
// }

// setting height of navbar manually messes up dropdown background. Need to determine how to match the height of navbar set by bootstrap in order to pad content down to match navbar height

.header-logo {
    width: 100px;
    // slightly increases navbar height, remove image for now
}


.carousel-container {
    .gradient {
        position:absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, black, transparent 40%);
    }
    .carousel-item {
        height: calc(100vh - $navbar-height);
    }
    .c-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.card {
    height: $card-height; // seems to mess up vertical spacing
    .card-img-fit {
        aspect-ratio: 5 / 3;
        object-fit: contain;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .card-btn {
            margin-top: auto;
        }
    }
}

#about-me {
    .row-about {
        align-items: center;
        justify-content: space-around;
    }
    background-color: #dbd0fb;
    height: calc(100vh - $navbar-height);
    .txt-container {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        display: flex;
        justify-content: center;
        width: fit-content;
        .rob-photo {
            object-fit: cover;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
}

#my-projects, #say-hello {
    margin: $section-margin;
}

.footer-container {
    padding: $footer-padding;
    background-color: #f8f9fa;
    hr {
        width: 60px;
        background-color: #7c4dff;
        height: 2px
    }
}