// RESETS

body {
    margin: 0px;
    height: 100%;
    font-family: "Source Sans 3", sans-serif;
}

// END RESETS


// VARIABLES

$section-margin: 20px;
$footer-padding: 20px;
$card-height: 100%;
$navbar-height: 60px;
$header-footer-color: #f8f9fa;

$primary-color: #539e8a;
$secondary-color: #f6c5be;
$dark-bg-text-color: #fae2de;

$hover-color: #539e8adb;

// END VARIABLES

// GLOBAL ELEMENTS

// #container-wrapper {
//     min-height: 70vh;
// }

// #main {
//     overflow: auto;
//     padding-bottom: 50px;
// }

.custom-btn { // Styles all buttons uniformly throughout portfolio
    margin-top: auto;
    background-color: $primary-color;
    color: $dark-bg-text-color;
    border: 0px;
    &:hover {
        background-color: $hover-color;
    }
    &:active {
        background-color: $secondary-color !important;
    }
}

#form-submit-btn {
    margin-top: 1rem;
}

footer {
    padding: $footer-padding;
    background-color: $primary-color;
    color: $dark-bg-text-color;
    hr {
        width: 60px;
        background-color: $secondary-color;
        height: 5px;
    }
}

// END GLOBAL ELEMENTS


// MIXINS

@mixin carousel-styling {
    // Tweak width at a later date
    .gradient {
        position:absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, black, transparent 40%);
    }
    .carousel-item {
        height: 500px;
        width: 100%;
    }
    .c-img {
        object-fit:contain;
        height: 100%;
        // width: 100%;
    }
}


// UNIVERSAL BEHAVIOUR

section {
    scroll-margin-top: $navbar-height; // Pads the anchor to sections down to compensate for fixed navbar
}

// END UNIVERSAL BEHAVIOUR


// GENERAL SASS

// Homepage

.navbar-custom {
    min-height: $navbar-height;
    padding: 10px 0; // content in nav moves up slightly when expanding dropdown on mobile view. this does not happen when min-height is not set or nav padding overridden
    background-color: $primary-color !important;
    .nav-link {
        color: $dark-bg-text-color;
    }
    .header-logo {
        height: 30px;
    }
}

.homepage-main-section {
    margin: $section-margin;
}

#about-me {
    .row-about {
        align-items: center;
        justify-content: space-around;
        color: $dark-bg-text-color;
        // adjust font sizing
    }
    background-color: $primary-color;
    height: calc(100vh - $navbar-height);
    .txt-container {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        display: flex;
        justify-content: center;
        width: fit-content;
        .rob-photo {
            object-fit: cover;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
}

.card {
    height: $card-height; // seems to mess up vertical spacing
    .card-img-fit {
        aspect-ratio: 5 / 3;
        object-fit: contain;
    }
    .card-body {
        display: flex;
        flex-direction: column;
    }
}

#get-in-touch {
    .message-input-box {
        height: 150px;
    }
}

// End homepage


// Subpages


.subpages-main {
    margin: $section-margin;
    .work-title-container {
        margin-bottom: $section-margin;
    }

    .carousel-container {
        @include carousel-styling();
    }
    
    .work-img-container {
        // height: 500px;
        // position: relative;

        .gradient {
            // height: 100%;
            // width: inherit;
            position: absolute;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.708), transparent 30%);
        }

        // #booki-desktop-img {
        //     display: block;
        //     height: 100%;
        //     width: 100%;
        //     object-fit: cover;
        //     object-position: 50% 0;
        // }
    }
}

// END GENERAL SASS


// MEDIA QUERIES



// END MEDIA QUERIES