---
layout: "default.njk"
pageTitle: Booki
---

<section class="subpages-main" id="booki-main">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 work-title-container">
                <h2 class="section-headings">{{pageTitle}}</h2>
                <a class="btn btn-primary custom-btn" href="https://robf94.github.io/booki-homepage/" target="_blank" rel="noopener noreferrer nofollow">View Project</a>
            </div>
        </div>
    
        <div class="row">

            <div class="col-12 col-md-6 work-img-container">

                <div class="gradient"></div>

                <img src="../assets/booki/Screenshots/booki-desktop.png" class="d-block w-100 c-img img-fluid" id="booki-desktop-img" alt="Booki Desktop">

                <!-- <div id="carouselExampleAutoplaying" class="carousel slide carousel-container" data-bs-ride="carousel">
                    <div class="carousel-inner">
            
                    <div class="carousel-item active">
                        <div class="gradient"></div>
                        <img src="../assets/booki/Screenshots/booki-desktop.png" class="d-block w-100 c-img img-fluid" alt="Booki Desktop">  <-- Seem to have issues with filepaths in subpages

                        <div class="carousel-caption d-none d-md-block">
                        <h5>lorem ipsum</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
                        </div>
                    </div>
            
                    <div class="carousel-item">
                        <div class="gradient"></div>
                        <img src="https://images.unsplash.com/photo-1700730025710-58ff304c1c8b?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 c-img" alt="Placeholder">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>lorem ipsum</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
                        </div>
                    </div>
            
                    <div class="carousel-item">
                        <div class="gradient"></div>
                        <img src="https://images.unsplash.com/photo-1636969423277-8757e3f2cf99?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D" class="d-block w-100 c-img" alt="Placeholder">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>lorem ipsum</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quisquam voluptatibus, nemo dolor veniam voluptas facere voluptates, eaque architecto eligendi id cupiditate blanditiis veritatis temporibus ipsum vel minima. Cupiditate, delectus.</p>
                        </div>
                    </div>
            
                    </div>
            
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
            
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
            
                </div> -->
            </div>

            <div class="col-12 col-md-6">

                <div class="desc-container">
                    <h3 class="section-headings">Short Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum veritatis laboriosam corporis quam, corrupti illo labore fuga suscipit rem obcaecati. Reiciendis molestias deserunt, odio facere quas explicabo aut quam!</p>
                </div>

                <div class="skills-container">
                    <h3>Skills Learned</h3>
                    <ul>
                        <li>Semantic HTML</li>
                        <li>CSS</li>
                        <li>Flexbox</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>


</section>


