---
layout: work-content.njk

projectType: website

pageTitle: Booki

pageId: booki-main

desktopScreenshot: ../assets/booki/Screenshots/booki-desktop.png

tabletScreenshot: ../assets/booki/Screenshots/booki-tablet-1.png
# not included in this page

mobileScreenshot: ../assets/booki/Screenshots/mobile-collage.jpg

aboutContent: My very first project involving in front-end development. I was tasked to recreate a homepage for a hotel booking website based on mockups provided. To achieve this, I used HTML and vanilla CSS. I utilised flexbox to achieve a responsive layout between mobile, tablet and desktop.

skills:
  - Semantic HTML
  - CSS
  - Flexbox

projectLink: https://robf94.github.io/booki-homepage/
---