---
layout: "default.njk"
pageTitle: Booki
---

<section class="subpages-main" id="booki-main">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 work-title-container">
                <h2 class="section-headings">{{pageTitle}}</h2> <!--Nunjucks will pass the title from line 3-->
            </div>
        </div>
    
        <div class="row">

            <div class="col-12 col-md-6 work-img-container">

                <div class="gradient"></div>

                <div id="carouselExampleAutoplaying" class="carousel slide carousel-container" data-bs-ride="carousel">
                    <div class="carousel-inner">
            
                        <div class="carousel-item active">
                            <div class="gradient"></div> <!-- hide gradient in mobile view? -->
                            <img src="../assets/booki/Screenshots/booki-desktop.png" class="d-block w-100 c-img img-fluid desktop-screenshot" alt="Booki Desktop">  
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Desktop Layout</h5>
                            </div>
                        </div>
            
                        <!-- <div class="carousel-item">
                            <div class="gradient"></div>
                            <img src="../assets/booki/Screenshots/booki-tablet-1.png" class="d-block w-100 c-img img-fluid tablet-screenshot" alt="Placeholder">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Tablet Layout</h5>
                            </div>
                        </div> -->
            
                        <div class="carousel-item">
                            <div class="gradient"></div>
                            <img src="/assets/booki/Screenshots/mobile-collage.jpg" class="d-block w-100 c-img img-fluid mobile-screenshot" alt="Placeholder">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Mobile Layout</h5>
                            </div>
                        </div>
            
                    </div>
            
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
            
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>

                    <!-- Style buttons so visible -->
            
                </div>
            </div>

            <div class="col-12 col-md-6">

                <div class="desc-container">
                    <h3 class="section-headings">About</h3>
                    <p>My very first project involving in front-end development. I was tasked to recreate a homepage for a hotel booking website based on mockups provided. To achieve this, I used HTML and vanilla CSS. I utilised flexbox to achieve a responsive layout between mobile, tablet and desktop.</p>
                </div>

                <div class="skills-container">
                    <h3>Skills Learned</h3>
                    <ul>
                        <li>Semantic HTML</li>
                        <li>CSS</li>
                        <li>Flexbox</li>
                    </ul>
                </div>

                <a class="btn btn-primary custom-btn" href="https://robf94.github.io/booki-homepage/" target="_blank" rel="noopener noreferrer nofollow">View Project</a>

                <!-- Change order for mobile view using MQs - description and skills at top of page, carousel below -->

            </div>

        </div>

    </div>


</section>


