---
layout: work-content.njk

projectType: website

pageTitle: Ohmyfood

pageId: ohmyfood-main

# desktopScreenshot: ../assets/booki/Screenshots/booki-desktop.png

# tabletScreenshot: ../assets/booki/Screenshots/booki-tablet-1.png

# mobileScreenshot: ../assets/booki/Screenshots/mobile-collage.jpg

# aboutContent: My very first project involving in front-end development. I was tasked to recreate a homepage for a hotel booking website based on mockups provided. To achieve this, I used HTML and vanilla CSS. I utilised Flexbox to achieve a responsive layout between mobile, tablet and desktop.

skills:
  - Using the SCSS preprocessor

projectLink: https://robf94.github.io/Project-2-ohmyfood/
---